table {
	font-size: 0.75rem;
}

th {
    background: #363636;
    color: #fff;
    margin: 0;
    padding: 0.25em 1em;
    text-align: center;
}

td {
	text-align: center;
}

table tbody tr+tr td {
	border-top: 1px solid #DFDFDF;
}

table tbody tr {
	margin-top: 1em;
	margin-bottom: 1em;
}

th.teamname, td.teamname {
	text-align: left;
}


@media screen and (min-width: 600px) {
	
	table {
		max-width: 70vw;
		margin: 0 auto;
	}

}
