<p>Teams. Lots of teams.</p>

<h2>Features</h2>
<ul>
  <li>Track player stats per week, per game</li>
  <li>Track team stats, progress</li>
  <li>Enable teams to update scores for current week, with confirmation from opposing team captain or league owner</li>
</ul>

<div class="table-view">
    <table class="table-teams">
    	<caption>Current League Teams [from db]</caption>
        <thead>
            <tr>
                <th class="tid">TeamID</th>
                <th class="tname">Team Name</th>
            </tr>
        </thead>
        <tbody *ngIf="teams" class="table-teams-list">
            <tr *ngFor="let team of teams">
                <td class="tid">{{team.id}}</td>
                <td class="tname">{{team.name}}</td>
            </tr>
        </tbody>
        <tbody *ngIf="!teams">
            <tr>
                <td colspan="2">Loading...</td>
            </tr>
        </tbody>
    </table>
</div>