

<div class="table-view">
    <table class="table-teams">
    	<caption>Current League Teams [from db]</caption>
        <thead>
            <tr>
                <th class="tid">TeamID</th>
                <th class="tname">Team Name</th>
            </tr>
        </thead>
        <tbody *ngIf="teams" class="table-teams-list">
            <tr *ngFor="let team of teams">
                <td class="tid">{{team.id}}</td>
                <td class="tname">{{team.name}}</td>
            </tr>
        </tbody>
        <tbody *ngIf="!teams">
            <tr>
                <td colspan="2">Loading...</td>
            </tr>
        </tbody>
    </table>
</div>