<button md-button [routerLink]="['/']" routerLinkActive="active-link"><md-icon>format_list_numbered</md-icon></button>
<button md-button [routerLink]="['/tops']" routerLinkActive="active-link"><md-icon>star</md-icon></button>
<button md-button [routerLink]="['/teams']" routerLinkActive="active-link"><md-icon>group</md-icon></button>
<button md-button [routerLink]="['/players']" routerLinkActive="active-link"><md-icon>format_list_bulleted</md-icon></button>
<!-- <button md-button [routerLink]="['/about']" routerLinkActive="active-link"><md-icon>info</md-icon></button> -->


