<a  class="mdl-navigation__link" [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">home</a>
<a  class="mdl-navigation__link" [routerLink]="['/tops']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">leaderboard</a>
<a  class="mdl-navigation__link" [routerLink]="['/teams']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">teams</a>
<a  class="mdl-navigation__link" [routerLink]="['/players']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">players</a>
<a  class="mdl-navigation__link" [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">about</a>  

