/*:host {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0 0 1px;
  display: block;
  height: 48px;
  padding: 0 16px;
}*/


bla-navigation {
    display: flex;
    width: 100vw;
    height: inherit;
    justify-content: space-around;
}


button[md-button] {
  min-width: 0;
}