<a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">home</a>
<a [routerLink]="['/tops']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">leaderboard</a>
<a [routerLink]="['/teams']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">teams</a>
<a [routerLink]="['/players']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">players</a>
<a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">about</a>  
