<h2>Features</h2>
<ul>
	<li>Track player stats per week, per game</li>
	<li>use HighCharts or similar to graph stats</li>
</ul>

<div class="table-view">
<table>
	<caption>Current League Players [from db]</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Total Pins</th>
            <th>Games</th>
            <th>Average</th>
            <th>Handicap</th>
        </tr>
    </thead>
    <tbody *ngIf="players">
        <tr *ngFor="let player of players">
            <td>{{player.name}}</td>
            <td>{{player.totalpins}}</td>
            <td>{{player.games}}</td>
            <td>{{player.average}}</td>
            <td>{{player.handicap}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="!players">
        <tr>
            <td colspan="8">No player data to show</td>
        </tr>
    </tbody>
</table>
</div>
