<h3>Landing Page</h3>

<p>Bowling league app, built on <a href="https://github.com/mgechev/angular-seed" target="_blank">angular-seed</a>, modification will be substantial to run with a slim api --> mysql db</p>

<h4>Features landing page</h4>
<ul>
<li>list current standings based on last week's results</li>
<li>list current week matchups with lane assignments</li>
<li>list top three in categories from top ten page</li>
</ul>

<div >
	<h3>Current Roster [from db]</h3>
	<ul *ngIf="standings">
		<li *ngFor="let place of standings">{{ place.tname }} [ {{place.wins}}-{{place.loss}}  - {{place.pcnt}} ]</li>
	</ul>
</div>
