
<p>Bowling league app, built on <a href="https://github.com/mgechev/angular-seed" target="_blank">angular-seed</a>, modification will be substantial to run with a slim api --> mysql db</p>

<h4>Landing page features</h4>
<ul>
<li>list current standings based on last week's results</li>
<li>list current week matchups with lane assignments</li>
<li>list top <em>three</em> in categories from top ten page</li>
</ul>


<div class="table-view">
    <table class="table-players">
    	<caption>Current League Standings [from db]</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Wins</th>
                <th>Loss</th>
                <th>Pcnt</th>
            </tr>
        </thead>
        <tbody *ngIf="standings" class="table-players-list">
            <tr *ngFor="let place of standings">
                <td>{{place.tname}}</td>
                <td>{{place.wins}}</td>
                <td>{{place.loss}}</td>
                <td>{{place.pcnt}}</td>
            </tr>
        </tbody>
        <tbody *ngIf="!standings">
            <tr>
                <td colspan="8">No league data to show</td>
            </tr>
        </tbody>
    </table>
</div>

