@import 'foundation.min.css';

img.loader-img {
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
}

bla-header {
    position: fixed;
    z-index: 10; /* do not leave permanent */
    min-height: 1em;
    width: 100vw;
    text-align: center;
    color: #FFF;
    background: #F27D0C;
    top: 0;
    border-bottom: #3px solid #d60;
}

bla-navigation {
	display: flex;
	width: 100vw;
	padding: 0;
	position: fixed;	
    bottom: 0;
    z-index: 100;
    background: #FFF;
    color: rgba(0,0,0,0.25);
    border-top: 1px solid #efefef;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
	justify-content: space-around;    
}

.app-content {
    margin: 5em 0 10em;
}

.md-button-wrapper .caption {
    line-height: 1;
    font-weight: 400;
}

button .md-button-focus-overlay {
	background-color: transparent;
}

table {
	border-spacing: 0;
}

table tbody tr+tr td {
	border-top: 1px solid #DFDFDF;
}

