<p>This app is the culmination of too many lost games over a few missed pins. And, to be honest, quite a lot of beer.</p>
<p>Bowling app market is lacking in a easy to use, mobile friendly, accessible fun <em>league</em> app for casual league play.</p>

<h3>Goals</h3>
<ul>
	<li>easy to use on mobile; responsive to larger screens </li>
	<li>team leaders can invite/add/edit/delete/confirm team members</li>
	<li>team members can track personal goals</li>
	<li>bowling data tools available to manipulate granularly, spot weak points</li>
	<li>enable league communication for announcements</li>
	<li>deliver working app to my lovely DiverseyRiverBowl friends and frenemies, for use and enjoyment, by Q2 2017</li>
</ul>

<h3>Stack</h3>
<ul>
	<li>angular 2, using angular-seed which implements angular-cli as guide</li>
	<li>php restful api</li>
	<li>mysql db <-- why? Because relational data, that’s why.</li>
	<li>foundation for styling and solid sass base</li>
	<li>git to save our souls when we are so very human and press delete at the wrong time</li>
</ul>

<h3>Notes</h3>
<ul>
	<li>this is a <strong>production-level</strong> ready app build. testing, compliance, and best practices are included</li>
	<li>this app will also act as a live example of different <em>progressing</em>  areas of Angular</li>
	<li>this app will remain in beta until end of Q1 2017</li>
</ul>