
md-toolbar {
  padding: 0 !important; /* horrible yes */
}

bla-toolbar {
  height: inherit;
}


bla-navigation {
  display: flex;
  height: inherit;
  width: 100vw;
  justify-content: space-around;
}

