<!-- <bla-toolbar></bla-toolbar> -->
<!-- <bla-navigation></bla-navigation> -->
<!-- <router-outlet></router-outlet> -->

<!-- <div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <bla-toolbar></bla-toolbar>
    <main class="mdl-layout__content">
        <router-outlet></router-outlet>
    </main>
</div> -->

<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout-icon"></div>
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title">Material Design Lite</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
<a  class="mdl-navigation__link" [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">home</a>
<a  class="mdl-navigation__link" [routerLink]="['/tops']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">leaderboard</a>
<a  class="mdl-navigation__link" [routerLink]="['/teams']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">teams</a>
<a  class="mdl-navigation__link" [routerLink]="['/players']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">players</a>
<a  class="mdl-navigation__link" [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">about</a>  
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout__title">Material Design Lite</span>
    <nav class="mdl-navigation">
<a  class="mdl-navigation__link" [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">home</a>
<a  class="mdl-navigation__link" [routerLink]="['/tops']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">leaderboard</a>
<a  class="mdl-navigation__link" [routerLink]="['/teams']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">teams</a>
<a  class="mdl-navigation__link" [routerLink]="['/players']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">players</a>
<a  class="mdl-navigation__link" [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">about</a>  
    </nav>
  </div>
  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
  </main>
</div>